{% extends 'base.html' %}

<h1>{% block h1 %}Django Application - Index Page{% endblock %}</h1>

{% block content %}
<div class="container">
    <h1>Welcome to Django Web Project Demo</h1>
    <p class="highlight">This is Ankit Kolhe</p>
    <div class="info">
        <p>This webpage is built using Django, a high-level Python web framework that promotes rapid development and clean, pragmatic design.</p>
        <p>Django helps developers build secure, scalable, and maintainable web applications with ease.</p>
    </div>
</div>
{% endblock %}